<!-- <p>Hello from partials/_header.html</p> -->
<!-- begin wrapper -->
	<!-- begin header -->
	<div class="header">
		<div class="container">
			<div class="header__left">
				<a href="#" class="logo">
				jet<span class="logo__color">ro</span>
			</a>
			</div>
			<div class="header__right">
				<ul class="nav">
					<li class="nav__item"><a href="" class="nav__link">Home</a></li>
					<li class="nav__item"><a href="" class="nav__link">About  Us</a></li>
					<li class="nav__item"><a href="" class="nav__link is-active">Blog</a></li>
					<li class="nav__item"><a href="" class="nav__link">Portfolio</a></li>
					<li class="nav__item"><a href="" class="nav__link">Contact  US</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end header -->
